.code {
    background-color: rgb(40,42,53);
    text-align: center;
    line-height: 80px;
    font-size: 25px;
    word-spacing: 20px;;
}
.code a {
    text-decoration: none;
    color: white;
}
.btn1 {
    height: 50px;
    font-size: 18px;
    background-color: #04aa6d;
    color: #ffffff;
    border-color: #04aa6d;
    width: 150px;
    border-radius: 50px;

} 
.btn2 {
    float: right !important;
    height: 50px;
    font-size: 18px;
    background-color: #04aa6d;
    color: #ffffff;
    border-color: #04aa6d;
    width: 150px;
    border-radius: 50px;
}
.about {
    background-color: rgb(217, 238, 225);  
}
.about p {
    line-height: 40px;
    text-indent: 20px;
    font-size: 20px;
}
.btnn1 {
    height: 50px;
    font-size: 18px;
    background-color: #04aa6d;
    color: white;
    border-color: #04aa6d;
    width: 260px;
    border-radius: 50px;
}
.mvx {
    text-indent: 20px;
}
.mvx p {
    font-size: 17px;
}
.btnn2 {
    height: 50px;
    font-size: 18px;
    background-color: #04aa6d;
    color: white;
    border-color: #04aa6d;
    width: 150px;
    border-radius: 50px;
}
.menu1 {
    text-indent: 20px;
}
.menu1 p {
    font-size: 20px;
}
.menu2 {
    background-color: rgb(255,255,204);
}
.menu2 p {
    line-height: 40px;
    font-size: 20px;
    text-indent: 20px;
}
.btnn3 {
    height: 50px;
    font-size: 18px;
    background-color: #04aa6d;
    color: white;
    border-color: #04aa6d;
    width: 210px;
    border-radius: 50px;
}
.menu3 p{
    font-size: 20px;
    line-height: 30px;
}
.menu4 {
    background-color: rgb(217,238,225);
    font-size: 20px;
    line-height:35px ;
    text-indent: 20px;
}
.menu5 {
    font-size: 20px;
    line-height: 20px;
    text-indent: 20px;
}
.menu6 {
   font-size: 20px; 
}
.menu7 {
    line-height: 20px;
    font-size: 20px;
}
.menu8 {
    font-size: 20px;
    line-height: 20px;
    text-indent: 20px;
}
#bt {
    height: 50px;
    font-size: 18px;
    background-color: #04aa6d;
    color: white;
    border-color: #04aa6d;
    width: 290px;
    border-radius:50px;
}
.menu9 {
    line-height: 20px;
    font-size: 20px;
}
.btt {
    height: 50px;
    font-size: 18px;
    background-color: rgb(33,150,243);
    color: white;
    border-color: rgb(33,150,243);
    width: 200px;
    border-radius: 50px;
}